.map{
    margin-bottom:4rem;
}

.contacts .container{
    margin-top:2rem;
    margin-bottom:2rem;
    
}

.contacts .clink{
    text-decoration:none;
    color:black;        
    
    
}

.contacts span{
    padding-left:0.5rem;
}